---
import '../styles/global.css';
const { title = 'Memorial de Ivo Wittmann' } = Astro.props;
---
<!doctype html><html lang="pt-BR"><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><title>{title}</title><meta name="robots" content="noindex, nofollow, noarchive"/></head><body><slot /></body></html>
